.ad  {
background-color : #c63928;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
}
.st{ background-color: #f1c31b;
    font-size: 20px;
    font-family: font-family: 'Montserrat', sans-serif;


}
.log{
    background-color: #9dd38c;
    font-size: 20px;
    border: 2px solid red;
    padding: 10px;
    border-radius: 100%;
    border-color: transparent
     
}
.sign{
   background-color:  #ffffff;
   font-size: 20px;
   font-family: Montserrat;
   
}
.sub{
    background-color:   #f8ba33;
    font-size: 20px;
}
.fab{
    font-size: 20px;
    background-color: rgb(4, 185, 240) ;

}